@media (max-width: 1024px) 
{
    @keyframes spin 
    {
        0%{transform: rotate(0deg);} 
        100%{transform: rotate(360deg);}   
    }
    
    body
    {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    nav
    {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .nav-section
    {
        border: none;
        flex-grow: 1;
    }
    #socials, #contact
    {
        display: none;
        flex-basis: 0%;
    }
    #navlogo
    {
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    #navlogo > a
    {
        display: flex;
        justify-content: center;
    }
    #navlogo > a > img
    {
        top: 0rem;
        width: clamp(50%, 60%, 100%);
    }
    #beaker
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #beaker img
    {
        position: absolute;
        width: clamp(30%, 35vw, 100%);
        top: 16%;
        opacity: 0.6;
        z-index: -1;
    }
    .beaker
    {
        display: none;
        margin-left: -6rem;
    }
    #menu
    {
        justify-content: center;
    }
    .menu-item
    {
        font-size: clamp(2.5rem, 9vw, 10rem);
    }
    #menu-items
    {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }
    .bg-image
    {
        position: absolute;
        width: 100vw;
        overflow: hidden;
    }
    .bg-image img
    {
        position: relative;
        top: 40%;
        left: 40%;
        opacity: 0.8;
        transition: none;
        width: clamp(20rem, 70vw, 80vw);
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 45s;
        animation-delay: 0ms;
    }
    .cut
    {
        display: none;
    }

}